    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Create category</div>
            <div class="panel-body">
                {{input class='form-control' type="text" value=model.title}}
                <button class="btn btn-default" {{action 'save'}}>Save</button>
                <button class="btn btn-default" {{action 'cancel'}}>Cancel</button>
            </div>
        </div>
    </div>