<div class="list-group">
    <a class="list-group-item list-group-item-info">
    {{# if categoryName}}      
      {{ categoryName }} items
    {{ else }}
      Items    
    {{/if}}
    </a>
    {{#each filteredItems as |item| }}
      {{partial 'itemlistitem'}}
    {{/each}}
</div>