<div class="list-group">
    <a class="list-group-item success disabled">
      Todo:
    </a>
    {{#each items key="id" as |item| }}
      {{key}}
      {{partial 'itemlistitem'}}
    {{/each}}
</div>